.custom-form-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 1px rgb(122, 122, 122);
    border-radius: 8px;
    padding: 20px;
    margin: 15px 0;
    height: min-content;
}

