.custom-form-root {
    margin: 20px;
}

.custom-form-title {
    text-align: center;
}

.custom-form {

}

.custom-form-contact {
    display: flex;
    flex-direction: column;
}




.custom-form-subtitle {
    color: green;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
}


.custom-form-radio {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.custom-form-color-picker {
    
}

.custom-form-radio-label {
    margin-left: 20px;
}

.custom-form-color-option {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.custom-form-color-option::-webkit-color-swatch {
    border-radius: 50%;
    border: thin solid black;
  }

.custom-form-color-option::-moz-color-swatch {
    border-radius: 50%;
    border: thin solid black;
  }

.custom-form-comments {
    margin: 10px 0;
}

.custom-form-text {
    resize: vertical;
    min-height: 100px;
    width: 80%;
}