.premade-root {

}

.premade-banner {
    width: 100%;
    height: 280px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.premade-banner-blur {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.2);
}

.premade-banner-text {
    color: white;
    cursor: default;
}

.premade-content {
    display: flex;
    /* flex-direction: column; */
    /* background-color: rgb(45, 45, 45); */
    background-color: rgb(222, 221, 221);
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    padding: 40px 2px;
}

.premade-info {
    /* background-color: rgb(222, 221, 221); */
    background-color: rgb(45, 45, 45);
    padding: 40px 15px;
    color: white;
}

.premade-info-title {
 font-size: larger;
 margin-bottom: 10px;
}

.premade-info-text {
    font-size: large;
    font-weight: bold;
}

.premade-link {
    text-decoration: none;
    margin: 10px;
}

.premade-hashLink {
    color: rgb(64, 173, 232);
}

@media screen and (min-width: 370px) {
    .premade-banner {
        height: 250px;
    }
}

@media screen and (min-width: 420px) {
    .premade-banner {
        height: 280px;
    }
}

@media screen and (min-width: 760px) {
    .premade-banner {
        height: 400px;
    }
    .premade-info-text {
        font-size:20px;
    }
    .premade-info-title {
        font-size: 25px;
    }
}



@media screen and (min-width: 820px) {
    .premade-banner {
        height: 440px;
    }
    .premade-info-text {
        font-size: 23px;
    }
    .premade-info-title {
        font-size: 28px;
    }
}


@media screen and (min-width: 1000px) {
    .premade-banner {
        height: 540px;
    }
    .premade-info-text {
        font-size: 30px;
    }
    .premade-info-title {
        font-size: 35px;
    }
}



@media screen and (min-width: 1200px) {
    .premade-banner {
        height: 650px;
    }
    .premade-info-text {
        font-size: 20px;
    }
    .premade-info-title {
        font-size: 25px;
    }
    .premade-link {
        margin: 20px;
    }
    .premade-banner-text {
        font-size: 50px;
    }
}


@media screen and (min-width: 1400px) {
    .premade-banner {
        height: 740px;
    }
    .premade-info-text {
        font-size: 25px;
    }
    .premade-info-title {
        font-size: 30px;
    }
}
        
        
@media screen and (min-width: 1500px) {
    .premade-banner {
        height: 930px;
    }
}