.custom-selection-container {
    display: flex;
    align-items: center;
    background-color: rgb(222, 221, 221);
    height: 35px;
    width: 100%;
}

.custom-selection-container div:nth-child(2) {
    border-left: thin solid black;
    border-right: thin solid black;
}

.custom-selection-option {
    width: 33.33%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    
}

.custom-selection-text {
    /* width: 100%; */
}

.custom-selection-content-container {
    background-color: rgb(45, 45, 45);
    color: white;
    height: 700px;
    padding: 20px;
}