.cart-root {
    background-color: rgb(45, 45, 45);
    /* height: calc(100vh); */
    height: calc(100vh - 100px);
    /* min-height: min-content; */
    /* margin-top: 60px; */
    padding-top: 60px;
    color: white;
    
}

.cart-title {
    margin: 20px;
}

.cart-cartItems-container {
    
}

.cart-order-summary-wrapper {
    margin: 20px;
    display: flex;
    flex-direction: column;
    cursor: default;
}

.cart-order-summary-title {
    margin-bottom: 10px;
}

.cart-order-summary-info {

}

.cart-order-summary-container {
    display: flex;
    justify-content: space-between;
    font-size: large;
    margin-bottom:5px;
    
}

.total {
    font-weight: bold;
    font-size: larger;
}

.cart-order-summary-checkout {
    width: 50%;
    height: 40px;
    margin: 20px auto;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color:  rgb(0, 110, 255);
}

.cart-order-summary-checkout:hover {
    background-color:  rgb(3, 94, 213);
}


.cart-empty-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 160px);
}

.cart-empty-text {
    
}

.cart-empty-link {
    color: white;
    font-size: larger;
    text-decoration: none;
}

.cart-empty-link:hover {
    color: lightgray;
}