.cartItem-root {
    height: 140px;
    /* width: 90%; */
    display: flex;
    justify-content: space-between;
    margin: 15px;
    border-bottom: 1px solid lightgray;
    padding: 20px 0;
    cursor: default;
}

.cartItem-image-wrapper {
    height: 100%;
    width: 30%;
}

.cartItem-image {
    height: 100%;
    width: 100%;
}

.cartItem-info {
    width: 30%;
}

.cartItem-name {
    font-size: larger;
}

.cartItem-price {
    font-size: large;
}

.cartItem-augmentations {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cartItem-delete-wrapper {
    display: flex;
    justify-content: flex-end;
}

.cartItem-delete {
    height: 30px;
    width: 30px;
    cursor: pointer;
    color: rgb(0, 195, 255);
}

.cartItem-delete:hover {
    color:  rgb(5, 165, 213);;
}

.cartItem-qty-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 0.5px solid lightgray;
    border-radius: 8px;
}

.cartItem-qty-button {
    height: 100%;
    width: 33%;
    cursor: pointer;
    background-color: unset;
    border: none;
    font-size: larger;
    color: white;
}

.cartItem-qty {
    font-size: large;
    padding-top: 3px;
    height: 100%;
    width: 33%;
    text-align: center;
    border-left: 0.5px solid lightgray;
    border-right: 0.5px solid lightgray;
}

.unavailable {
    color: black;
    cursor: default;
}

@media screen and (min-width: 750px) {
    .cartItem-root {
        height: 200px;
    }
    .cartItem-qty-wrapper {
        height: 50px;
        display: flex;
        align-items: center;
    }
    .cartItem-qty-button {
        font-size: x-large;
    }
    .cartItem-qty {
        font-size: x-large;
        padding-top: 8px;
    }
    .cartItem-delete {
        height: 35px;
        width: 35px;
    }
    .cartItem-name {
        font-size: x-large;
    }
    .cartItem-price {
        font-size: larger;
    }
}

@media screen and (min-width: 820px) {
    .cartItem-root {
        height: 220px;
    }
}

@media screen and (min-width: 1000px) {
    .cartItem-root {
        height: 270px;
    }
    .cartItem-name {
        font-size: xx-large;
    }
    .cartItem-price {
        font-size: x-large;
    }
    .cartItem-delete {
        height: 45px;
        width: 45px;
    }
}

@media screen and (min-width:1200px) {
    .cartItem-root {
        height: 180px;
    }
    .cartItem-name {
        font-size: x-large;
    }
    .cartItem-price {
        font-size: large;
    }
    .cartItem-delete {
        height: 30px;
        width: 30px;
    }
    .cartItem-qty-wrapper {
        height: 30px;
    }
    .cartItem-qty-button {
        font-size: large;
    }
    .cartItem-qty {
        font-size: large;
        padding-top: 2px;
    }
}